<p>Hello <%= @user.email %>,</p>

<p>Document <strong><%= @document.reference_number %></strong> (<%= @document.subject %>) has been rejected.</p>

<p>Reason: <%= @reason %></p>

<p><%= link_to "View the document", @document_url %></p>
